<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Land use statistics map</title>

    <!-- CSS libraries -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    
    <link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css" rel="stylesheet"/>

    <!-- Custom CSS styles -->
    <link href="{{url_for('static',filename='/styles/styles.css')}}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <div class="col-sm-12">
      <div class="row"> <!-- TITLE ROW-->
        <div class="col-sm-12">
          <h1 class="text-center">Europe earthquakes 2000 - 2023 </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6"> <!-- 1 SCREEN HALF -->
          <div class="row"> <!-- FIRST ROW-->
            <div class="col-sm-3">
              <p class="text-center">FROM DATE</p>
              <div class="form-group">
                <div class='input-group date' id='timestart'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <p class="text-center">TO DATE</p>
                <div class='input-group date' id='timeend'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <p class="text-center">MIN SIGNIFICANCE</p>
              <select class="form-control" id="min-significance">
                <option value="0" selected="selected">0</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="300">300</option>
                <option value="400">400</option>
                <option value="500">500</option>
                <option value="600">600</option>
                <option value="700">700</option>
                <option value="800">800</option>
                <option value="900">900</option>
                <option value="1000">1000</option>
              </select>
            </div>
            <div class="col-sm-3">
              <p class="text-center">MAX SIGNIFICANCE</p>
              <select class="form-control" id="max-significance">
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="300">300</option>
                <option value="400">400</option>
                <option value="500">500</option>
                <option value="600">600</option>
                <option value="700">700</option>
                <option value="800">800</option>
                <option value="900">900</option>
                <option value="1000">1000</option>
                <option value=">1000"selected="selected">> 1000</option>
              </select>
            </div>
          </div>
          <div class="row"> <!-- SECOND ROW-->
            <div class="col-sm-3">
              <p class="text-center">MIN MAG</p>
              <select class="form-control" id="min-magnitudo">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" selected="selected">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
              </select>
            </div>
            <div class="col-sm-3">
              <p class="text-center">MAX MAG</p>
              <select class="form-control" id="max-magnitudo">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9" selected="selected">9</option>
              </select>
            </div>
            <div class="col-sm-3">
              <p class="text-center">MIN DEPTH</p>
              <select class="form-control" id="min-depth">
                <option value="-50>" selected="selected">< -50</option>
                <option value="-50">-50</option>
                <option value="0">0</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
                <option value="250">250</option>
                <option value="300">300</option>
                <option value="350">350</option>
                <option value="400">400</option>
                <option value="450">450</option>
                <option value="500">500</option>
              </select>
            </div>
            <div class="col-sm-3">
              <p class="text-center">MAX DEPTH</p>
              <select class="form-control" id="max-depth">
                <option value="0">0</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
                <option value="250">250</option>
                <option value="300">300</option>
                <option value="350">350</option>
                <option value="400">400</option>
                <option value="450">450</option>
                <option value="500">500</option>
                <option value=">500" selected="selected">> 500</option>
              </select>
            </div>
          </div>
          <div class="row" style="margin-top: 15px;"> <!-- FOURTH ROW-->
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
            </div>
          </div>
          <div class="row" style="margin-top: 15px;"> <!-- THIRD ROW-->
            <div class="col-sm-12">
              <p>** Perform 1 click to show details - 2 clicks to select for elaboration</p>
              <div id="map">
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 15px;">
            <div class="text-center">
              <button type="button" class="text-center btn btn-primary" onclick="load_map()">APPLY FILTERS</button>
            </div>
          </div>
          <div class="row"> <!-- FOURTH ROW-->
            <div class="col-sm-12">
              <div id="details">
                <h1 id="details_h1"></h1>
                <div id="scrollable_details" class="scroll">
                  <table id="map_table" class="table">
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6"> <!-- 2 HALF SCREEN -->
          <div class="row"> <!-- FIRST ROW-->
            <div class="col-sm-12">
              <div class="text-center">
                <h3>T-SNE</h3>
                <div id="TSNE_legend" style="border: 4px; border-style: inset; border-color: #327ab7;">
                  <h4 id="TSNE_text">SELECT 1 OR MORE COUNTRIES ON THE MAP</h4>
                  <div class="row" id="row_legend">
                    <div class="col-sm-2" id="TSNE_colors_legend_1"></div>
                    <div class="col-sm-2" id="TSNE_colors_legend_2"></div>
                    <div class="col-sm-8" style="border-left: 2px solid; border-color: black;" id="TSNE_info_legend"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 20px;"> <!-- SECOND ROW-->
            <div class="col-sm-12" style="padding-left: 0px !important;">
              <div class="text-center">
                <div id="scatterplot">
                </div>              
              </div>
            </div>
        </div>
          <div class="row" style="margin-top: 15px;"> <!-- THIRD ROW-->
            <div class="col-sm-12">
              <div class="text-center">
                <button type="button" class="text-center btn btn-primary" onclick="performTSNE()">ELABORATE TSNE</button>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 30px;"> <!-- FOURTH ROW-->
            <div class="col-sm-12">
              <div class="text-center">
                <h3>TEMPORAL ANALYSIS</h3>
                <div id="TIMESERIES_legend" style="border: 4px; border-style: inset; border-color: #327ab7;">
                  <h4 id="TIMESERIES_text">SELECT 1 OR MORE COUNTRIES ON THE MAP</h4>
                  <div class="row" id="row_legend">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 15px;"> <!-- THIRD ROW-->
            <div id="TIMESERIES_charts">
          </div>
          </div>
          <div class="row" style="margin-top: 15px;"> <!-- THIRD ROW-->
            <div class="col-sm-12">
              <div class="text-center">
                <button type="button" class="text-center btn btn-primary" onclick="performTimeseries()">ELABORATE TIMESERIES</button>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- JS libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.2/d3.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>

    <!-- Custom JS code -->
    <script type="text/javascript" src="{{url_for('static',filename='/js/utils.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='/js/map.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='/js/timeseries.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='/js/scatterplot.js')}}"></script>

    <script type="text/javascript">
      function performTSNE() {
        var country_data = {}
        for (const country of selectedCountries) {
          country_data[country] = dataById.get(country)
        }
        fetch("http://localhost:4242/tsne", {
          method: "POST",
          body: JSON.stringify({
            countries: country_data
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        })
        .then((response) => response.json())
        .then((json) => load_scatterplot(json.result, json.input, country_colors));
      }

      function performTimeseries() {
        var country_data = {}
        for (const country of selectedCountries) {
          country_data[country] = dataById.get(country)
        }
        load_timeseries(country_data, country_colors, null);
      }
    </script>
    <script type="text/javascript">
      $(function() {              
         // Bootstrap DateTimePicker v4
         $('#timestart').datetimepicker({
              defaultDate: "1/1/2000",
              format: 'DD/MM/YYYY'
         });
      }); 
      $(function() {              
         // Bootstrap DateTimePicker v4
         $('#timeend').datetimepicker({
              defaultDate: "1/1/2023",
              format: 'DD/MM/YYYY'
         });
      });      

      
      window.onload = load_map;
  </script>
    
  </body>
</html>