
  .container {
    margin: 0% !important;
    width: 100% !important;
    max-width: 100% !important;
  }
  
  #chart {
    position: relative;
    margin: auto;
    width: 70%;
    height: 50%;
    background-color: #c9f9ff;
    border: 2px solid #333;
  }
  
  .earthquake {
    stroke: #333;
    opacity: 0.75;
  }
  
  .legend-mag-text {
    font-size: 9px;
    fill: black;
    font-weight: bold;
  }
  
  .legend-box {
    fill: white;
    stroke: black;
    stroke-width: 0.75px;
    rx: 10;
    ry: 10;
  }

  svg {
    background-color: #b8daff;
  }

  g.features {
    stroke: #d8d8d8;
    stroke-width: 0.5;
  }

  g.features path:hover {
    opacity: 0.5;
  }