
  /**
  MAP
  */
  .container {
    margin: 0% !important;
    width: 100% !important;
    max-width: 100% !important;
  }
  
  #chart {
    position: relative;
    margin: auto;
    width: 70%;
    height: 50%;
    background-color: #c9f9ff;
    border: 2px solid #333;
  }
  
  .earthquake {
    stroke: #333;
    opacity: 0.75;
  }
  
  .legend-mag-text {
    font-size: 9px;
    fill: black;
    font-weight: bold;
  }
  
  .legend-box {
    fill: white;
    stroke: black;
    stroke-width: 0.75px;
    rx: 10;
    ry: 10;
  }

  svg {
    background-color: #b8daff;
  }

  .scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }
  
  .scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }

  .scroll {
    overflow-y: scroll;
    height: 600px;
    }

  .form-check-label {
    font-size: 15px;
    font-weight: normal;
  }

  /**
  scatter
  */
  

  #scatter-svg {
    background-color: #ffffff;
  }

  #legend-scatter-svg {
    background-color: #ffffff;
  }

  g.features {
    stroke: #d8d8d8;
    stroke-width: 0.5;
  }

  g.features path:hover {
    opacity: 0.5;
  }

  
  #timeseries-svg {
    background-color: #ffffff;
  }

  #timeseries-svg text {
    font-size: 9px;
  }

  text {
    font-family: lato;
    fill: #333333;
  }
  .grid path {
    stroke-width: 0;
    stroke: #333333;
  }
  .grid .tick line {
    stroke: #333333;
    stroke-width: 0.3px;
    stroke-opacity: 0.3;
  }
  text.chart-title {
    font-size: 14px;
    font-weight: bold;
    fill:#222222
  }
  text.chart-label {
    font-size: 20px;
    font-weight: 400;
    fill: #999999;
  }
  .mytooltip {
    background-color: #ffffff;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    text-align: center;
    padding: 5px;
    color: black;
    border: 1px;
    border-color: black;
    box-shadow: 1px 5px 15px #c8c8c8;
    border-radius: 50%;
  }